<template>
  <div class="row justify-content-center">
    <div class="col-12">
      <h3 class="float-left">Ошибки</h3>
      <button @click="clearErrors" class="btn btn-danger float-right">Очистить логи</button>
      <table class="table" id="mirrors-table">
        <thead class="thead-light">
        <tr>
          <th scope="col">Время</th>
          <th scope="col">Последнее доступное</th>
          <th scope="col">Последнее недоступное</th>
          <th scope="col">IP</th>
          <th scope="col">Страна</th>
          <th scope="col">Реферрер</th>
          <th scope="col">Ссылка</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="error in localErrors">
          <td>{{ tsToDateTime(error.timestamp) }}</td>
          <td>{{ error.last_available || "&mdash;" }}</td>
          <td>{{ error.last_tried }}</td>
          <td>{{ error.ip }}</td>
          <td>{{ error.country || "&mdash;" }}</td>
          <td>{{ error.referrer }}</td>
          <td>{{ error.uri }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  props: ['errors'],
  data: function () {
    return {
      localErrors: [],
      offset: 0
    }
  },
  mounted: function () {
    this.localErrors = this.errors;
    this.loadErrors();
    window.addEventListener('scroll', function () {
      if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
        self.loadErrors();
      }
    });
  },
  methods: {
    loadErrors: function () {
      let self = this;
      window.axios.get('/admin/errors?offset=' + self.offset)
          .then(function (response) {
            if (response.status === 200) {
              self.localErrors = self.localErrors.concat(response.data.data).sort((a, b) => b.timestamp - a.timestamp);
              self.offset = response.data.offset;
            }
          })
          .catch(function (error) {
            console.log(error);
          });
    },
    clearErrors: function () {
      let self = this;
      window.axios.post('/admin/errors')
          .then(function (response) {
            if (response.status === 200) {
              self.localErrors = [];
            }
          })
          .catch(function (error) {
            console.log(error);
          });
    },
    tsToDateTime: function (timestamp) {
      timestamp = timestamp * 1000;
      let date = new Date();
      date.setTime(timestamp);
      let year = date.getFullYear();
      let month = date.getMonth() + 1;
      month = month < 10 ? '0' + month : month;
      let day = date.getDate();
      day = day < 10 ? '0' + day : day;
      let hours = date.getHours();
      hours = hours < 10 ? '0' + hours : hours;
      let minutes = date.getMinutes();
      minutes = minutes < 10 ? '0' + minutes : minutes;
      let seconds = date.getSeconds();
      seconds = seconds < 10 ? '0' + seconds : seconds;

      return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
    }
  }
}
</script>
