<template>
  <div class="row justify-content-center">
    <div class="col-12">
      <h3>Список зеркал</h3>
      <table class="table" id="mirrors-table">
        <thead class="thead-light">
        <tr>
          <th colspan="2">#</th>
          <th scope="col">Хост</th>
          <th scope="col">Страна</th>
          <th colspan="2" width="30%" scope="col">Настройки</th>
        </tr>
        </thead>
        <tbody>

        <tr height="60px" v-for="(mirror, index) in mirrors">
          <th width="40px">
            {{ index + 1 }}
          </th>
          <td width="60px">
            <i v-if="updateState[index] == 1" class="fa fa-spinner fa-pulse fa-2x"></i>
            <i v-if="updateState[index] == 2" class="far fa-check-circle fa-2x text-success"></i>
            <i v-if="updateState[index] == 3" class="far fa-times-circle fa-2x text-danger"></i>
          </td>
          <td>
            <span v-if="!editing.includes(index)">{{ mirror.host }}</span>
            <input v-else
                   :class="{'form-control': true, 'w-50': true, 'd-inline-block': true, 'border-danger': updateError[index]}"
                   type="text" v-model="mirror.host"/>
            <span class="text-danger" v-if="updateError[index]">{{ updateError[index] }}</span>
          </td>
          <td>
            <span v-if="!editing.includes(index)">{{ mirror.country }}</span>
            <input v-else
                   :class="{'form-control': true, 'w-50': true, 'd-inline-block': true, 'border-danger': updateError[index]}"
                   type="text" v-model="mirror.country"/>
          </td>
          <td>
            <span v-if="!editing.includes(index)">
              <span v-if="mirror.is_enabled" class="text-success"><i class="far fa-check-circle"></i> Включено</span>
              <span v-else class="text-danger"><i class="far fa-times-circle"></i> Выключено</span>
            </span>
            <label v-else style="cursor: pointer" class="mb-0">
              <input style="cursor: pointer" type="checkbox" v-model="mirror.is_enabled"/>
              Включить
            </label>
            <br/>
            <span v-if="!editing.includes(index)">
              <span v-if="mirror.is_ssl" class="text-success"><i class="far fa-check-circle"></i> HTTPS — Да</span>
              <span v-else class="text-danger"><i class="far fa-times-circle"></i> HTTPS — Нет</span>
            </span>
            <label v-else style="cursor: pointer" class="mb-0">
              <input style="cursor: pointer" type="checkbox" v-model="mirror.is_ssl"/> HTTPS
            </label>
          </td>
          <td>
            <template v-if="!editing.includes(index)">
              <button @click="editing.push(index)" class="btn btn-primary"><i
                  class="fa fa-pencil-alt"></i></button>
              <button @click="deleteMirror(index)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </template>
            <template v-else>
              <button @click="update(index)" class="btn btn-success"><i
                  class="fa fa-check"></i></button>
              <button @click="editing = editing.filter(e => e !== index)" class="btn btn-outline-primary"><i
                  class="fa fa-times"></i></button>
            </template>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      mirrors: [],
      updateState: {},
      updateError: {},
      editing: []
    }
  },
  mounted: function () {
    this.loadMirrors();
  },
  created () {
    let self = this;
    window.eventBus.$on('mirror-created', function (mirror) {
      self.addMirror(mirror);
      self.updateState = {};
      self.updateError = {};
      self.loadMirrors();
    })
  },
  methods: {
    loadMirrors: function () {
      let self = this;
      window.axios.get('/admin/mirrors')
          .then(function (response) {
            if (response.status === 200) {
              self.mirrors = [];
              self.mirrors = response.data.data;
            }
          })
          .catch(function (error) {
            console.log(error);
          });
    },
    addMirror: function (mirror) {
      this.mirrors.push(mirror);
    },
    update: function (index) {
      let id = this.mirrors[index].id;
      let self = this;
      self.$set(self.updateState, index, 1);
      window.axios.post('/admin/mirrors/' + id, {
        host: this.mirrors[index].host,
        is_enabled: this.mirrors[index].is_enabled,
        is_ssl: this.mirrors[index].is_ssl,
        country: this.mirrors[index].country
      })
          .then(function (response) {
            self.$set(self.updateState, index, 2);
            self.$set(self.updateError, index, undefined);
            self.editing = self.editing.filter(e => e !== index)
            setTimeout(function () {
              self.$set(self.updateState, index, undefined);
            }, 5000);
          })
          .catch(function (error) {
            if (error.response.data.errors['host']) {
              self.$set(self.updateError, index, error.response.data.errors.host[0]);
            }
            self.$set(self.updateState, index, 3);

          });

    },
    deleteMirror: function (index) {
      if (!confirm('Точно удалить?')) {
        return;
      }
      let id = this.mirrors[index].id;
      let self = this;
      window.axios.post('/admin/mirrors/' + id, {
        _method: 'delete',
        host: this.mirrors[index].host,
        is_enabled: this.mirrors[index].is_enabled,
        is_ssl: this.mirrors[index].is_ssl
      })
          .then(function (response) {
            self.loadMirrors();
          })
          .catch(function (error) {
          });

    }
  }
}
</script>
