<template>
  <div class="row justify-content-center mb-3">
    <div class="col-md-12">
      <h3>Добавить зеркало</h3>
      <div class="card">
        <div class="card-body">
          <form @submit="create" action="/admin/mirrors">
            <div class="form-row align-items-center">
              <div class="col-4">
                <input required v-model="form.host" class="form-control mb-2" type="text" id="field_host"
                       name="host" placeholder="example.com"/>
              </div>
              <div class="col-1">
                <input v-model="form.country" class="form-control mb-2" type="text" id="field_country"
                       name="country" placeholder="RU"/>
              </div>
              <div class="col-auto">
                <div class="form-check">
                  <input v-model="form.is_enabled" class="form-check-input" id="field_enabled" type="checkbox"/>
                  <label class="form-check-label" for="field_enabled">Включить</label>
                </div>
                <div class="form-check mb-2">
                  <input v-model="form.is_ssl" class="form-check-input" id="field_ssl" type="checkbox"/>
                  <label class="form-check-label" for="field_ssl">HTTPS</label>
                </div>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2" :disabled="!form.buttonEnabled">Сохранить</button>
              </div>
              <div v-if="showResult"
                   :class="{'col-auto': true, 'text-success': isSuccess, 'text-danger': !isSuccess}">
                <i v-if="isSuccess" class="far fa-check-circle fa-2x"></i>
                <i v-else="" class="far fa-times-circle fa-2x"></i>
              </div>
              <div v-if="showResult" :class="{'col-auto': true, 'text-success': isSuccess, 'text-danger': !isSuccess}">
                {{ message }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      showResult: false,
      isSuccess: false,
      message: '',
      form: {
        host: '',
        country: null,
        is_enabled: true,
        is_ssl: true,
        buttonEnabled: true
      }
    }
  },
  mounted () {
    console.log('Component mounted.')
  },
  methods: {
    create: function (e) {
      e.preventDefault();
      let self = this;
      self.form.buttonEnabled = false;
      window.axios.post('/admin/mirrors', self.form)
          .then(function (response) {
            if (response.status === 200) {
              window.eventBus.$emit('mirror-created', response.data.data);
              self.isSuccess = true;
              self.message = 'Зеркало создано';
              self.clearForm();
            } else {
              self.isSuccess = false;
              self.message = response.error;
            }
            self.showResult = true;
            self.form.buttonEnabled = true;
          })
          .catch(function (error) {
            self.showResult = true;
            self.isSuccess = false;
            if (error.response.data.errors['host']) {
              self.message = error.response.data.errors.host[0];
            } else if (error.response.data[errors]) {
              self.message = error.response.data.errors
            } else {
              self.message = 'Произошла ошибка';
            }
            self.form.buttonEnabled = true;
          });

      return false;
    },
    clearForm: function () {
      this.form.host = '';
    }
  }
}
</script>
