
// Fonts

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#mirror-create-result-text {
  padding-left: 0;
}

.form-check-input, .form-check-label {
  cursor: pointer;
}

#mirrors-table {
  background-color: white;
}

#mirrors-table th, #mirrors-table td {
  vertical-align: middle;
}
